body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: whitesmoke;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: teal;
    font-family: 'Londrina Sketch', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yellowtail', cursive;
    padding: 10px;
    font-size: 40px;
}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border: solid transparent;
    border-radius: 4px;
    color: black;
    background-color: bisque;
    transition-duration: 0.3s;
}

button:hover {
    background-color: whitesmoke !important;
    border: solid;
}

#alert {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: orange;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.close-button {
    margin-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-button:hover {
    color: black;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    border-style: solid;
    border-color: black;
    border-width: 16px;
}

.square {
    transition: 0.2s;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 6;
}

.pop-left {
    animation: pop-left 1s;
    animation-fill-mode: forwards;
}

.pop-right {
    animation: pop-right 1s;
    animation-fill-mode: forwards;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes pop-left {
    0% { opacity: 1; }
    100% { opacity: 0; transform: translateY(100px) rotate(200deg) }
}

@keyframes pop-right {
    0% { opacity: 1; }
    100% { opacity: 0; transform: translateY(160px) rotate(-200deg) }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}